﻿@model IEnumerable<KWLMobileQuery.Connections.NLog>

@{
    ViewBag.Title = "User Logs";
    var levels = ((String)ViewBag.Levels).Split(',');
}


<h2>Anonymous Logs</h2>

<div id="dateControl">
    @Html.Partial("_DateRangeControl")
</div>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "UserName", rowsPerPage: 100);
    }


    @grid.GetHtml(
  tableStyle: "table table-bordered table-striped table-hover",
  headerStyle: "info",
  mode: WebGridPagerModes.All,
  firstText: "<< First",
  previousText: "< Prev",
  nextText: "Next >",
  lastText: "Last >>",
  columns: grid.Columns(
      grid.Column("ID", header: "ID"),
      grid.Column("Logged", header: "Logged"),
      grid.Column("Level", header: "Level"),
      grid.Column("Message", header: "Message"),
      grid.Column("Exception", header: "Exception"),
       grid.Column("UserName", header: "User")
   ))


</div>



@section scripts
{
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        const defaultFrom = "@ViewBag.SearchFrom";
        const defaultTo = "@ViewBag.SearchTo";
        const defaultLevel = "@ViewBag.level";
        var selectList = [];
        @foreach(var d in levels)
        {
            @: selectList.push("@d");
        }
    </script>
    <script type="text/javascript" src="~/Scripts/my_date_range.js"></script>
}




