﻿@model IEnumerable<KWLMobileQuery.Connections.NLog>

@{
    ViewBag.Title = "User Logs";
}

@Html.Partial("_UserDetails")

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "UserName", rowsPerPage: 100);
    }


    @grid.GetHtml(
  tableStyle: "table table-bordered table-striped table-hover",
  headerStyle: "info",
  mode: WebGridPagerModes.All,
  firstText: "<< First",
  previousText: "< Prev",
  nextText: "Next >",
  lastText: "Last >>",
  columns: grid.Columns(
      grid.Column("ID", header: "ID"),
      grid.Column("Logged", header: "Logged"),
      grid.Column("Level", header: "Level"),
      grid.Column("Message", header: "Message"),
      grid.Column("RemoteAddress", header: "IP Address")
   ))


</div>


