﻿@using System.Xml.Linq;
@model KWLMobileQuery.Connections.Log

@{
    ViewBag.Title = "APM Log Details";
}

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>@Html.ActionLink("APM Logs", "Index", "Logs")</li>
    <li>@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageTemplate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageTemplate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Properties)
        </dt>

        <dd>
            @*@Html.TextArea("Info", XDocument.Parse(Model.Properties).ToString(), new { cols = "200", rows = "30", @readonly = "readonly", @disabled = "disabled" })*@
            <pre>@XDocument.Parse(Model.Properties).ToString()</pre>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEvent)
        </dd>
    </dl>



</div>
