﻿@model IEnumerable<KWLMobileQuery.Connections.Log>

@{
    ViewBag.Title = "APM Logs";
    var levels = ((String)ViewBag.Levels).Split(',');
}

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>

<div id="dateControl">
    @Html.Partial("_DateRangeControl")
</div>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "UserName", rowsPerPage: 100);
    }


    @grid.GetHtml(
  tableStyle: "table table-bordered table-striped table-hover",
  headerStyle: "info",
  mode: WebGridPagerModes.All,
  firstText: "<< First",
  previousText: "< Prev",
  nextText: "Next >",
  lastText: "Last >>",
  columns: grid.Columns(
      grid.Column("Id",  format: @<text> @Html.ActionLink("Details", "Details", new { id = item.Id })  </text>),
                                          grid.Column("TimeStamp", header: "TimeStamp"),
                                          grid.Column("Level", header: "Level"),
                                          grid.Column("Message", header: "Message")
                                       ))


</div>




@section scripts
{

    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        const defaultFrom = "@ViewBag.SearchFrom";
        const defaultTo = "@ViewBag.SearchTo";
        const defaultLevel = "@ViewBag.level";
        var selectList = [];
        @foreach(var d in levels)
        {
            @: selectList.push("@d");
        }
    </script>
    <script type="text/javascript" src="~/Scripts/my_date_range.js"></script>

}


