﻿@using System.Xml.Linq;
@model KWLMobileQuery.Connections.Payment

@{
    ViewBag.Title = "Payment Details";
}


@Html.Partial("_UserDetails")

<hr />




@functions {

    // Add code here.
    string parseBillData(string billdata)
    {
        try
        {
            var xData = XDocument.Parse(billdata);
            var bolNumber = from c in xData.Descendants("BolReferenceNumber") select c;
            var bolStorageToDate = from c in xData.Descendants("BolStorageToDate") select c;
            return bolNumber.FirstOrDefault().Value;
        }catch(Exception)
        {
            return "";
        }

    }

        }

<div class="row">
    <div class="col-md-5">
        <h4>Paymenmt Summary</h4>
        <dl class="dl-horizontal">
            <dt>
                Total JMD
            </dt>
            <dd class="text-right">
                @Html.DisplayFor(model => model.TotalInJmd)
            </dd>
            <dt>
                Total&nbsp;@Html.DisplayFor(model => model.CurrencyCode)
            </dt>
            <dd class="text-right">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt>
                Exchange Rate
            </dt>
            <dd class="text-right">
                @Html.DisplayFor(model => model.JmdExchangeRate)
            </dd>
            <dt>
                Transaction Status
            </dt>
            <dd>
                @if (Model.IsSuccessful)
                {
                <b><text>SUCCESSFUL</text></b>
                }
                else
                {
                <b><text>NOT SUCCESSFUL</text></b>
                }
            </dd>
            @if (!Model.IsSuccessful)
        {
                <dt>
                    Error Code
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ErrorCode)
                </dd>
                <dt>
                    Error Detail
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ErrorDetail)
                </dd>
            }
            <dt>
                RequestId
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequestId)
            </dd>

            <dt>
                AuthorizationCode
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AuthorizationCode)
            </dd>
            <dt>
                Payment Method
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PaymentMethod)
            </dd>
            <dt>
                Payment Ref
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PaymentReferenceNumber)
            </dd>
            <dt>
                Gateway ID
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GatewayId)
            </dd>
            <dt>
                Gateway Ref
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GatewayReferenceNumber)
            </dd>
            <dt>
                Date/Time:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
        </dl>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            BOL#
        </th>
        <th>
            Type
        </th>
        <th>
            KWL Ref#
        </th>
        <th>
            Curr
        </th>
        <th>
            Handl
        </th>
        <th>
            Ins
        </th>
        <th>
            Tax
        </th>
        <th>
            Sh/Cost
        </th>
        <th>
            Sh/Disc
        </th>
        <th>
            S/Total
        </th>
        <th>
            T/Rate
        </th>

        <th>
            S/Tot/JMD
        </th>
        <th>
            T/Amt
        </th>
        <th>
            Tot/JMD
        </th>
        <th>
            Total
        </th>
        <th>
            Curr
        </th>
        <th>
            Ex/Rate
        </th>
    </tr>

    @foreach (var item in Model.Bills)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillTypeId)
            </td>
            <td>
                @parseBillData(item.BillData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Handling)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Insurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTaxAppliedToBill)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Shipping)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ShippingDiscount)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TaxRate)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.SubtotalInJmd)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TaxAmount)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TotalAmountInJmd)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.JmdExchangeRate)
            </td>
        </tr>
    }

    <tr>
        <th colspan="13">
            Payment Amt:
        </th>
        <th class="text-right">
            @Html.DisplayFor(model => model.TotalInJmd)
        </th>
        <th class="text-right">
            @Html.DisplayFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayFor(model => model.CurrencyCode)
        </th>
        <th class="text-right">
            @Html.DisplayFor(model => model.JmdExchangeRate)
        </th>
    </tr>

</table>
<hr />

<div class="row">
    <div class="col-lg-4">
        <h4>Credit card Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardTypeId)
            </dd>
            <dt>
                First 4 Digits
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardNumberFirstFourDigits)
            </dd>

            <dt>
                Last 4 Digits
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardNumberLastFourDigits)
            </dd>
            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardName)
            </dd>

            <dt>
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardFirstName)
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardLastName)
            </dd>

            <dt>
                Middle Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardMiddleName)
            </dd>


            <dt>
                Address Line1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardAddressLine1)
            </dd>

            <dt>
                Address Line2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardAddressLine2)
            </dd>

            <dt>
                City
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardCity)
            </dd>

            <dt>
                Country Code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardCountryCode)
            </dd>

            <dt>
                Province
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardProvince)
            </dd>

            <dt>
                State Code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardStateCode)
            </dd>

            <dt>
                Telephone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardTelephone)
            </dd>

            <dt>
                Zip/PostalCode
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardZipOrPostalCode)
            </dd>
        </dl>
    </div>
    <div class="col-lg-4">
        <h4>Shipping Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingFirstName)
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingLastName)
            </dd>

            <dt>
                Middle Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingMiddleName)
            </dd>
            <dt>
                Address Line1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingAddressLine1)
            </dd>

            <dt>
                Address Line2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingAddressLine2)
            </dd>

            <dt>
                City
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingCity)
            </dd>

            <dt>
                Country Code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingCountryCode)
            </dd>

            <dt>
                Province
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingProvince)
            </dd>

            <dt>
                State Code
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingStateCode)
            </dd>

            <dt>
                Telephone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingTelephone)
            </dd>

            <dt>
                Zip/PostalCode
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShippingZipOrPostalCode)
            </dd>

        </dl>
    </div>
    <div class="col-lg-4">
        <h4>Three Ds Security</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                CAVV
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsCavv)
            </dd>
            <dt>
                Eci
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsEci)
            </dd>
            <dt>
                Transaction ID
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsTransactionId)
            </dd>
            <dt>
                Xid
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsXid)
            </dd>

            <dt>
                Auth Result Received
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsThreeDsAuthResultReceived)
            </dd>
            <dt>
                ParSignature Verified
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsThreeDsParSignatureVerified)
            </dd>
            <dt>
                PARes Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsPAResStatus)
            </dd>
            <dt>
                Enrollment Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThreeDsEnrollmentStatus)
            </dd>
        </dl>
    </div>
</div>


