﻿@model IEnumerable<KWLMobileQuery.Connections.Payment>

@{
    ViewBag.Title = "Payments";
}


@Html.Partial("_UserDetails")

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "UserName", rowsPerPage: 100);
    }


    @grid.GetHtml(
  tableStyle: "table table-bordered table-striped table-hover",
  headerStyle: "info",
  mode: WebGridPagerModes.All,
  firstText: "<< First",
  previousText: "< Prev",
  nextText: "Next >",
  lastText: "Last >>",
  columns: grid.Columns(
     grid.Column("Id",  format: @<text> @Html.ActionLink("Details", "Details", new { id = item.Id })  </text>),
           grid.Column("CardName"),
           grid.Column("CardNumberFirstFourDigits", header: "First4"),
           grid.Column("CardNumberLastFourDigits", header: "last4"),
           grid.Column("CardTypeId", header: "Type"),
           grid.Column("CreatedAt", header: "Created"),
           grid.Column("IsSuccessful", header: "OK"),
           grid.Column("PaymentMethod", header: "Method"),
           grid.Column("Total", format:@<text>@item.Total.ToString("f")</text>),
                grid.Column("CurrencyCode", header: "Cur"),
                grid.Column("JmdExchangeRate", header: "Rate"),
                grid.Column("TotalInJmd", format:@<text>@item.Total.ToString("f")</text>, header: "JMD")
                      ))


</div>



