﻿<div class="row">
    <div class="col-md-offset-6">
        <form class="form-horizontal" id="searchForm">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-sm-2" for="Level">Level</label>
                <div class="col-sm-10">
                    <select class="form-control input-sm" id="SearchLevel" name="SearchLevel"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SearchFrom">From</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='SearchFrom'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                        </span>
                    </div>


                    @*<input type="text" class="form-control input-sm" id="SearchFrom" name="SearchFrom" />*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="SearchTo">To</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='SearchTo'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                        </span>
                    </div>

                    @*<input type="text" class="form-control input-sm" id="SearchTo" name="SearchTo" />*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


