﻿@using KWLMobileQuery.Classes;
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if(User.Identity.IsAuthenticated){
        <li>@Html.ActionLink("APM Logs", "Index", "Logs")</li>
        <li>@Html.ActionLink("A-User Logs", "Anon", "Nlogs", null, new { title = "Anonymous user Logs" })</li>
        <li>@Html.ActionLink("Users", "Index", "Users")</li>
    }
    @if (@UserCls.i_user != null)
    {
        <li> @Html.ActionLink("Users Logs", "Index", "NLogs", null, new { title = "Logged-In User Logs" })</li>
        <li> @Html.ActionLink("Payments", "Index", "Payments")</li>
    }
</ul>
