﻿@using KWLMobileQuery.Classes;
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li> @Html.ActionLink("Users", "Index", "Users")</li>
    @if (ViewBag.UserDetailView == null)
    {
        <li> @Html.ActionLink("User Details", "Details", "Users", new { id = @UserCls.i_user.Id }, null)</li>
    }
    @if (ViewBag.ParentUrl != null)
    {
        <li><a href="@ViewBag.ParentUrl">@ViewBag.ParentTitle</a></li>
    }
    <li>@ViewBag.Title</li>
</ul>

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">User Details</a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">                   
                    <div class="panel-body">
                        <div class="rows">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>
                                        UserName
                                    </dt>

                                    <dd>
                                        @UserCls.i_user.UserName
                                    </dd>
                                    <dt>
                                        First Name
                                    </dt>

                                    <dd>
                                        @UserCls.i_user.FirstName
                                    </dd>

                                    <dt>
                                        Last Name
                                    </dt>

                                    <dd>
                                        @UserCls.i_user.LastName
                                    </dd>

                                    <dt>
                                        Email
                                    </dt>
                                    <dd>
                                        @UserCls.i_user.Email
                                    </dd>
                                    <dt>
                                        Email Confirmed
                                    </dt>
                                    <dd>
                                        @UserCls.i_user.EmailConfirmed
                                    </dd>
                                    <dt>
                                        Phone Number
                                    </dt>

                                    <dd>
                                        @UserCls.i_user.PhoneNumber
                                    </dd>

                                    <dt>
                                        Phone Confirmed
                                    </dt>

                                    <dd>
                                        @UserCls.i_user.PhoneNumberConfirmed
                                    </dd>

                                    <dt>
                                        Access Failed Count
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => @UserCls.i_user.AccessFailedCount)
                                    </dd>
                                </dl>

                            </div>
                            <div class="col-md-6">
                                <h4>Associated Links</h4>
                                <ul>
                                    <li> @Html.ActionLink("Users Logs", "Index", "NLogs")</li>
                                    <li> @Html.ActionLink("Payments", "Index", "Payments")</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>