﻿@model KWLMobileQuery.Connections.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Handling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTaxAppliedToBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTaxAppliedToBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JmdExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JmdExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmountInJmd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmountInJmd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubtotalInJmd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubtotalInJmd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment.CardName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
