﻿@{
    ViewBag.Title = "Home Page";
}


<h2>KWL Mobile Query</h2>
<p></p>

<div>
    <ul>
        <li>@Html.ActionLink("Check APM Logs", "Index", "Logs")</li>
        <li>@Html.ActionLink("Check Anonymous User Logs", "Anon", "Nlogs")</li>
        <li>@Html.ActionLink("Search Users", "Index", "Users")</li>       
    </ul>
    <p>You will be able to check Payment and User logs for a specific user.</p>
</div>
