﻿@model IEnumerable<KWLMobileQuery.Connections.AspNetUser>


@{
    var grid = new WebGrid(Model, defaultSort: "UserName");
}

<div>
    @grid.GetHtml(
           tableStyle: "table table-bordered table-striped table-hover",
           headerStyle: "info",
           mode: WebGridPagerModes.All,
           firstText: "<< First",
           previousText: "< Prev",
           nextText: "Next >",
           lastText: "Last >>",
           columns: grid.Columns(
                grid.Column("UserName", format: @<text> @Html.ActionLink((string)item.UserName, "Details", new { id = item.Id })  </text>),
                grid.Column("FirstName", header: "First Name"),
                grid.Column("LastName", header: "Last Name"),
                grid.Column("Email", header: "Email"),
                grid.Column("PhoneNumber", header: "Phone")
            ))

</div>
