﻿@model IEnumerable<KWLMobileQuery.Connections.AspNetUser>
@{
    ViewBag.Title = "Users";
    var grid = new WebGrid(Model, defaultSort: "UserName");
}


<h2>Users</h2>

<p class="bg-warning">@Html.ValidationMessage("Error")</p>

<div>
    <div class="pull-right">
        @using (Html.BeginForm("Index", "Users", FormMethod.Post, new { @id = "WebGridForm" }))
        {
            <span>UserName:</span> @Html.TextBox("id")
            <input type="submit" />
        }
    </div>

    <div>
        @grid.GetHtml(
               tableStyle: "table table-bordered table-striped table-hover",
               headerStyle: "info",
               columns: grid.Columns(
                    grid.Column("UserName", format: @<text> @Html.ActionLink((string)item.UserName, "Details", new { id = item.Id })  </text>),
                                                grid.Column("FirstName", header: "First Name"),
                                                grid.Column("LastName", header: "Last Name"),
                                                grid.Column("Email", header: "Email"),
                                                grid.Column("PhoneNumber", header: "Phone")
                                            ))

    </div>






</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {


            const showGridUsers = function (search) {
                $.ajax({
                    url: '@Url.Action("Index", "Users")',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    data: { id: search },
                    success:  function (result) {
                        $('#gridUsers').html(result);
                    }});
            };


            $('#id').autocomplete({
                source: function (request, response) {
                    $.getJSON("/Users/showUsers?term=" + request.term, function (data) {
                        response(data);
                    });
                },
                minLength: 3,
                delay: 100
            });



        });
    </script>

}




